html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background-color: #232946;
  color: #b8c1ec;
  font-size: 1rem;
  line-height: 1.5rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Clases */
.text-primary {
  color: #fffffe;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.button {
  background-color: #eebbc3;
  color: #232946;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
}

.button-secondary {
  background-color: #232946;
  color: #fffffe;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
}

/* .view-color-col {
  display: block;
} */

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #d4d8f0;
  color: #232946;
  padding: 25px 0;
  width: 100%;
}

.page-title {
  padding: 5px 0;
  margin: 20px 0;
  border-bottom: 3px solid #232946;
}

.justify-around {
  justify-content: space-around;
}

.center-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    width: 95%;
  }

  .view-color-col {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    width: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}
